<h2>Edit Author</h2>
<form action="/authors/<%= author.id%>?_method=PUT" method="post">
    <%- include('_form_fields.ejs') %>
    <button><a href="/authors/<%= author.id %> ">Cancel</a></button>
    <button type="submit">Update</button>
</form>